<div class="card">
  <%= link_to news_path(news) do%>
    <div class="card-img" >
      <%= image_tag news.image. thumb.url, size: "238x160" %>
    </div>
    <div class="card-content">
      <p class="card-body"><small class="text-muted"><%= l news.created_at %></small></p>
      <h1 class="card-title"><%= news.title %></h1>
      <p class="card-button">詳細</p>
    </div>
  <%end%>
</div>
