<div class="col-12 col-md-6 col-lg-4">
  <div class="card" style="width: 23rem;">
    <div class="card-img-top" >
      <% if news.image? %>
        <%= image_tag news.image.url, size: "366x200" %>
      <% end %>
    </div>
    <div class="card-body">
      <h2 class="card-title"><%= news.title %></h2>
    </div>
  </div>
</div>
