<div class="col-12 col-md-4 ">
  <div class=card content-card border-dark mb-3>
    <div class="card-img-top" >
      <% if news.image? %>
        <%= image_tag news.image.url, size: "240x160" %>
      <% end %>
    </div>
    <div class="card- body">
      <p class="card-title"><%= l news.created_at %></p>
      <p class="card-title"><%= news.title %></p>
    </div>
  </div>
</div>
