<div class="col-12 col-md-6 col-lg-4">
  <div class="card" style="width: 18rem;">
    <div class="card-img-top" >
      <% if news.image? %>
        <%= image_tag news.image.url, size: "286x200" %>
      <% end %>
    </div>
    <div class="card-body">
      <p class="card-title"><%= news.title %></p>
    </div>
  </div>
</div>
